/* Table of Contents
––––––––––––––––––––––––––––––––––––––––––––––
- General Content
- Typography
- Header & Navigation
- Images & Media
- Footer
- Media Queries
–––––––––––––––––––––––––––––––––––––––––––––– */

/* General Content
–––––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

h1 {
  color: black;
  font-size: 7rem; }

a {
  color: #FAD658;
  font-size: 1.5rem;
  font-weight: bolder;
  border:3px;
  text-shadow: .5px .5px .5px #FAD658;
  text-decoration:none;
}

a:hover {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  border:3px;
  text-shadow: .5px .5px .5px #FAD658;
  text-decoration:none;
}


body {
  background-image: url("../images/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.plate {
  color: white;
  margin-top: 10px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: rgba(0, 0, 0, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.plate input {
  color: black; }

#fade1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

 /*THIS SETS THE PICTURE TO SCALE*/
 img, img.scale-with-grid {
   outline: 0; max-width: 100%; height: auto;
 }
